@use "variables" as *;

 .web__aboutMeFull {
    .web__aboutMe {
        text-align: center;
        
    }

    .web__image {
        width: 100%;
        margin: auto;
        display: block;

    }

    .web__aboutMeText {
        text-align: center;
        
    }
}

@media screen and (min-width: $webSize) { 


.web__aboutMeFull {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    gap: 1rem;
.web__image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-right: auto;
    width: 20rem;
    border-radius: 2rem;
}}

.web__aboutMe {
    padding-top: 5rem;
}

.web__information {
    margin-top: inherit;
}}

