@use "variables" as *;

 .web__aboutMeFull {
    .web__aboutMe {
        text-align: center;
        
    }

    .web__image {
        width: $imageMe;
        margin: auto;
        display: block;

    }

    .web__aboutMeText {
        text-align: center;
        
    }
}

