@use "variables" as *;

.footer {
  border: #3DD9C4 solid 1.5rem;
  background-color: #3DD9C4;
  color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  a {
    text-decoration: none;
    color: white;
  }
  .email {
    text-align: left;
    font-size: 1.3rem;

  }
  .gitHub {
    text-align: right;
    font-size: 1.3rem;
  }

}
  

@media screen and (min-width: $webSize) {
  .footer {
    border: #4FC9C6 solid 1.5rem;
    background-color: #4FC9C6;
    .email {
        text-align: left;
        font-size: 2rem;
            margin-left: 1rem;
      }
      
      .gitHub {
          text-align: right;
          margin-left: auto;
          font-size: 2rem;
        margin-left: 1rem;
        }
  }
}
