@use "variables" as *;

.portfolio {
    .web__headingPrimary {
    font-size: 15px;
    margin-top: 2rem;
} }

.portfolio {
    .web__headingSecondary {
        font-size: 20px;
        margin-top: 1rem;

    }

}

@media screen and (min-width: $webSize) { 
    body {
        height: 100vh;
    }}