@use "variables" as *;

.techSkills {
  .web__headingQuaternary {
    text-align: center;
  }

  .web__techSkills {
    text-align: center;
  }
}

.techSkills {
  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    i {
      text-align: center;
      font-size: 30px;
    }
    }
  }


@media screen and (min-width: $webSize) {
  body {
    height: 100vh;
  }
  .techSkills {
.logos {
  width: 25%;
  i {
    text-align: center;
    font-size: 50px;
  }
}}}