@use "variables" as *;

h1 {
        font-size: 1rem;
        color: white;
        background-color: #9D8CFF;
}

h2 {
        font-size: 1rem;
}

@media screen and (min-width: $webSize) { 

h1 {
        font-size: 2rem;
        margin-left: 2rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
       } 
       h2 {
        font-size: 2rem;
}

h3 { font-size: 2rem;

}
}
