@use "variables" as *;

h1 {
        font-size: 1rem;
}

h2 {
        font-size: 1rem;
}

@media screen and (min-width: $webSize) { 

h1 {
        font-size: 1.5rem;
       } 
       h2 {
        font-size: 1.25rem;
}

.footer {
        .email {
                font-size: 1.5rem;
                margin-left: 1rem;
        }
}
}
