@use "variables" as *;
@use "nav" as *;
@use "header";
@use "aboutMe";

* {
    background-color: rgba(255, 253, 253, 0.959);
     font-family: $lettering;
    margin-left: 2rem;
    margin-right: 2rem;
}

// moving onto web screen 

@media screen and (min-width: 768px) { 
    body {
        height: 100vh;
    }}