@use "variables" as *;


.portfolio {
    font-family: $lettering;


}

.portfolio {
    .web__image {
        width: $imageMe;
    }
}

aside {
    display: none;
}









// moving onto web screen 

@media screen and (min-width: 768px) { 
    body {
        height: 100vh;
    }}