@use "variables" as *;
@use "nav" as *;
@use "header";
@use "main";

* {
    background-color: rgba(255, 253, 253, 0.959);
}

.portfolio {
    font-family: $lettering;
    margin-left: 2rem;
    margin-right: 2rem;
}

.portfolio {
    .web__image {
        width: $imageMe;
        margin: auto;
        display: block;

    }
}

// moving onto web screen 

@media screen and (min-width: 768px) { 
    body {
        height: 100vh;
    }}