.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
    text-align: right;
    font-weight: bold;
    color: black;
    margin-top: 2rem;
  }
  .nav a {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    color: black;
    text-decoration: none;
  }
  .nav .borderTouch {
    border: #007ccf solid 3px;
    border-radius: 25px;
    padding: 5px;
  }
}
@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
  .headerElement {
    margin-bottom: 5rem;
  }
}
.web__aboutMeFull .web__aboutMe {
  text-align: center;
}
.web__aboutMeFull .web__image {
  width: 100%;
  margin: auto;
  display: block;
}
.web__aboutMeFull .web__aboutMeText {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .web__aboutMeFull {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    gap: 1rem;
  }
  .web__aboutMeFull .web__image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-right: auto;
    width: 15rem;
  }
  .web__aboutMe {
    padding-top: 5rem;
  }
  .web__information {
    margin-top: inherit;
  }
}
.techSkills .web__headingQuaternary {
  text-align: center;
  margin-top: 3rem;
}
.techSkills .web__techSkills {
  text-align: center;
}

.techSkills .logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.techSkills .logos i {
  text-align: center;
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
  .techSkills .logos {
    width: 25%;
  }
  .techSkills .logos i {
    text-align: center;
    font-size: 50px;
  }
}
h1 {
  font-size: 1rem;
}

h2 {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
}
.footer {
  border: #007ccf solid 1.5rem;
  background-color: #007ccf;
  color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer .email {
  text-align: left;
  font-size: 1.3rem;
}
.footer .gitHub {
  text-align: right;
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  .footer {
    border: #007ccf solid 1.5rem;
    background-color: #007ccf;
  }
  .footer .email {
    text-align: left;
    font-size: 2rem;
    margin-left: 1rem;
  }
  .footer .gitHub {
    text-align: right;
    margin-left: auto;
    font-size: 2rem;
    margin-left: 1rem;
  }
}
.Projects {
  text-align: center;
  margin-top: 3rem;
}

.card {
  margin-bottom: 3rem;
  background-color: #409BD7;
  padding: 1rem;
  border-radius: 0.3rem;
}
.card .cardImage {
  width: 100%;
}
.card .cardHeading {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
  color: white;
}
.card .cardInformation {
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
}
.card .buttonPrimary {
  background-color: white;
  color: black;
  margin-right: auto;
  padding: 0.7rem;
  border: none;
  border-radius: 0.3rem;
}

@media screen and (min-width: 768px) {
  .cardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;
  }
}
.portfolio {
  background-color: rgba(255, 253, 253, 0.959);
  font-family: "Comic Neue", cursive;
  margin-left: 5rem;
  margin-right: 5rem;
}

body {
  margin: 0;
}

@media screen and (min-width: 768px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
}/*# sourceMappingURL=styles.css.map */